.list-page-section {
    width: 100vw;
    height: 100vh;
}
.main-news {
    position: fixed;
    top: 27.5%;
    left: 20%;
    width: 50vw;
    height: 35vh;
}
.title {
    position: absolute;
    bottom: -50px;
    left: 0;
    background-color: rgba(0,0,0,.75);
    color: white;
    font-weight: bold;
    width: 80%;
    padding-bottom: 10px;
}
.small-title {
    position: absolute;
    bottom: 0px;
    left: 0;
    background-color: rgba(0,0,0,.75);
    color: white;
    font-weight: bold;
    width: 100%;
    height: 75%;
}
.small-title h5{
    margin-left: 5px;
}
.small-title h5:hover{
    color: orange;
    cursor: pointer;
}
.title h3 {
    margin-left: 20px;
}
.title h3:hover {
    color: orange;
    cursor: pointer;
}
.main-img {
    width: 40vw;
    height: 40vh;
}
.news-container {
    position: fixed;
    top: 25.9%;
    left: 58.5%;
    display: flex;
    flex-direction: column;
}
.news {
    list-style: none;
    cursor: pointer;
}

.news .secondary-img{
    width: 7.7vw;
    height: 19.5%;
}
.news .secondary-img:hover {
    border: 1px solid orange;
}
.leftovers {
    position: fixed;
    left: 1%;
    top: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.leftovers .article {
    position: relative;
    width: 170px;
    height: 100px;
    margin-left: 15px;

}
.article img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
}
.article:hover {
    border: 1px solid orange;
}